.login-page {
    padding: 10px;
    .login{
        font-family: 'Montserrat', sans-serif;
        user-select: none;
        max-width: 700px;
        border-radius: 7px;
        background-color: rgb(249, 249, 249);
        margin: 55px auto;
        padding: 30px 50px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    
        .title{
            padding-top: 30px;  
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }
    
    
        .loginForm{
           
            input{
                width: 100%;
                height: 48px;
                margin: 10px 0;
                border-radius: 7px;
                background-color: rgb(255, 255, 255);
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                padding: 15px 0 15px 16px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-family: "Montserrat", sans-serif;
                outline: none;
            }
    
            .rememberMe{
                width: 13px;
                height: 13px;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0.7);
                padding: 0;
                // margin: 0px 5px 21px 50px;
                margin: 0 3px 0 0;
                
            }

            .checkboxDiv{
                max-width: 600px;
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: space-between;

                label{
                    width: 50px;
                    height: 10px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    color: rgba(0, 0, 0, 0.7);
                    // margin-bottom: 10px;
                }
    
                .remember{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: rgba(228, 0, 45, 0.6);
                    cursor: pointer;
                    text-align: center;
                }
        
            }
           
            button{
                // width: 600px;
                width: 100%;
                height: 56px;
                border-radius: 7px;
                background-color: rgba(5, 129, 135, 1);
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                color: rgb(255, 255, 255);
                border: none;
                font-family: "Montserrat", sans-serif;
                // margin: 0 50px;
                transition: background-color 0.3s linear;
    
                &:hover{
                    background-color: rgb(6, 168, 177);
                }
            }
            
            .error{
                border: 1px solid red;
            }
        }
    
        .formLine{
            width: 100%;
            margin: 25px 0 20px 0;
            border: 1px solid 
            rgba(0, 0, 0, 0.3);
        }
    
    
        .formFooter{
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
    
            p{
                font-family: 'Montserrat arm';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: rgba(77, 77, 77, 1);
                letter-spacing: 2px;
            }
            
        .registr{        
            text-align: center;
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #058187;
            cursor: pointer;
            letter-spacing: 1px;
        }
            .icons{
                    
                
                svg{    
                    width: 44px;
                    height: 44px;
                    // margin-right: 25px;
                    margin: 8px;
                    cursor: pointer;
                    &:nth-child(1){
                        margin: 0;
                        padding: 0;
                    }
                    @media screen and (max-width: 375px) {
                        width: 40px;                        
                    }
                }
            }
        }
    
        @media screen and (max-width: 590px) {
            padding: 30px;       
        }
    
        @media screen and (max-width: 395px) {
            padding: 30px 20px;       
        }
    }
}
