header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    .header {
        max-width: 1440px;
        width: 90%;

        .logo {
            // margin: 0 7px;
        }
        .menu-btns {
            height: 100%;
            align-items: center;
            padding: 4px 0;
            .menu {
                ul {
                    display: flex;
                    list-style: none;
                    margin: 0 15px 0 0; 
                    li {
                        padding: 15px;
                        margin: 0;
                        a {
                            color: black;
                            text-decoration: none;
                            font-family: 'Montserrat arm';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            
                            @media screen and (max-width: 1097px) {
                                font-size: 14px;                            
                            }
                        }
                        @media screen and (max-width: 1215px) {
                            padding: 8px;           
                        }
                    }
                    @media screen and (max-width: 1097px) {
                        padding: 0;                  
                    }
                    @media screen and (max-width: 990px) {
                        display: none;                    
                    }
                }
            }
    
            .btn-section {
                display: flex;
                align-items: center;
                .search-section {
                    position: relative;
                    margin-right: 10px;
                    i {
                        position: absolute;
                        top: 9px;
                        left: 14px;
                        color: #A2A2A2;
                        font-size: 12px;
                        font-style: normal;
                    }
                    input {
                        width: 318px;
                        height: 27px;
                        background: #E8E8E8;
                        border-radius: 42px;
                        outline: none;
                        border: none;
                        padding-left: 50px;

                        &:hover {
                            box-shadow: 0px 4px 4px rgba(5, 129, 135, 0.15);
                        }

                        &:focus {
                            border: 1px solid rgba(5, 129, 135, 0.5);
                            box-shadow: 0px 4px 4px rgba(5, 129, 135, 0.15);
                        }
    
                        &::placeholder {
                            font-family: 'Arial AMU';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            color: #A2A2A2;
                        }
    
                        @media screen and (max-width: 1314px) {
                            width: 230px;
                        }
                        @media screen and (max-width: 1215px) {
                            width: 180px;
                        }
    
                        @media screen and (max-width: 1097px) {
                            width: 150px;                  
                        }
    
                        @media screen and (max-width: 1024px) {
                            width: 135px;
                        }
    
                        @media screen and (max-width: 990px) {
                            width: 290px;      
                        }
    
                        @media screen and (max-width: 768px) {
                            width: 220px;
                        }
    
                        @media screen and (max-width: 685px) {
                            width: 189px;
                        }
    
                        @media screen and (max-width: 470px) {
                            width: 150px;
                        }
    
                        @media screen and (max-width: 375px) {
                            width: 130px;
                        }
    
                        @media screen and (max-width:360px ) {
                            width: 100px;
                            padding-left: 30px;
                        }
                    }
    
                }
                .header-buttons {
                    display: flex;
                    .log-btn {
                        height: 48px;
                        display: flex;
                        align-items: center;
                        font-family: 'Montserrat arm';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: rgba(0, 0, 0, 0.69);
                        text-decoration: none;
                        margin: 0 8px;
                        @media screen and (max-width: 1024px) {
                            height: 43px;    
                        } 
    
                        @media screen and (max-width: 375px) {
                            height: 35px;
                            font-size: 14px; 
                            border-radius: 6px;
                        } 
    
                        @media screen and (max-width:360px ) {
                            height: 30px;
                            font-size: 13px; 
                            border-radius: 5px;
                        }
                    }
                    .registr-btn {
                        width: 114px;
                        height: 48px;
                        background-color: #058187;
                        color: white;
                        border-radius: 8px;
                        box-sizing: border-box;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Montserrat arm';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        color: #FFFFFF;
                        margin: 0 8px;
                        transition: .3s;

                        &:hover {
                            background-color: #026368;
                        }

                        &:focus {
                            background-color: #004A4E;
                        }
    
                        @media screen and (max-width: 1024px) {
                            width: 104px;
                            height: 43px;    
                        }    
                        
                        @media screen and (max-width: 375px) {
                            width: 80px;
                            height: 35px;
                            font-size: 14px; 
                            border-radius: 6px;
                        }
    
                        @media screen and (max-width:360px ) {
                            width: 75px;
                            height: 30px;
                            font-size: 13px; 
                            border-radius: 5px;
                        }
                    }
                }
            }
            .mobile-menu {
                position: relative;


                .burger-icon {
                    display: none;
                    font-size: 27px;
                    margin-left: 15px;
                    cursor: pointer;
                    
        
                    @media screen and (max-width:990px ) {
                        display: inline-block;                
                    }
        
                    @media screen and (max-width:360px ) {
                        margin-left: 10px;               
                    }
                }
                ul.mobile {
                    list-style: none;
                    position: absolute;
                    right: 0;
                    top: 55px;
                    padding: 0;
                    background-color: white;
                    overflow: hidden;
                    height: 148px;
                    box-shadow: 0 0 5px gray;
                    transition: height 0.3s;
                    
                    li {
                        padding: 10px 18px 0 18px;
                        a {
                            color: black;
                            text-decoration: none;
                            font-family: 'Montserrat arm';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 20px;
                            color: #000000;
                            

                            &:hover {
                                color: rgb(46, 45, 45);
                            }
                        }
                    }
                }
                ul.mobile.hide {
                    height: 0;
                    overflow: hidden;
                }
            }
        }
    
        @media screen and (max-width: 650px){
            display: flex;
            flex-direction: column;        
        }
    }
    
    
    .round {
        background-color: #C4C4C4;
        width: 29px;
        height: 29px;
        border-radius: 50%;
    
        @media screen and (max-width: 1345px) {
            display: none;
        }
    }
    
}
