footer {
    background-color: #F9F9F9;
    padding: 50px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    .footerFirst {
        .footerImg {
            img {
                margin: 0 0 50px 0;
            }
        }
        p {
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            width: 233px;
            color: #000000;
        }
        h2 {
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 205%;
            color: #000000;
        }
        .icons {
            display: flex;
            div {
                margin: 0 10px 0 0;
                img {
                    width: 30px;
                }
                svg {
                    cursor: pointer;
                }
            }
        }

    }
    .footerSecond {
        h3 {
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 205%;
            color: #000000;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a {
                    text-decoration: none;
                    font-family: 'Montserrat arm';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 205%;
                    color: #000000;
                }
            }
        }

    }
    .footerThree {
        h3 {
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 205%;
            color: #000000;
        }
        svg{
            width: 20px;
            height: 40px;
            margin-right: 10px;
            cursor: pointer;
        }
        span {
            font-family: 'Montserrat arm';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 205%;
            color: #000000;
        }

    }
    .vector {
        position: absolute;
        top: 0;
        right: -0;
    }
}


@media screen and (max-width: 768px) {
    footer {
        .footer {
            display: none;
            
        }
        .mobile-footer {
            display: block;
        }
        .vector {
            display: none;
        }
    }    
}