

.newPassword{
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    height: 333px;
    border-radius: 7px;
    background-color: 
    rgba(249, 249, 249, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;

    h1{
        font-weight: 500;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: 2px;
        color: 
        rgba(0, 0, 0, 0.8);
        padding: 30px 70px 25px 70px;
    }

    input{
            width: 600px;
            height: 48px;
            border-radius: 7px;
            background-color: rgb(255, 255, 255);
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            padding: 15px 0 15px 16px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            margin: 0 50px 15px 50px;
            font-family: "Montserrat", sans-serif;
    }
    
    button{
        width: 600px;
        height: 56px;
        border-radius: 7px;
        background-color: rgb(162, 162, 162);
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: rgb(255, 255, 255);
        border: none;
        font-family: "Montserrat", sans-serif;
        margin: 0 50px;
        transition: background-color 0.5s linear;

        &:hover{
            background-color: 
            rgba(5, 129, 135, 1);
        }
        
    }
    span{
        margin-left: 50px;
    }
    .error{
        color: red;
    }
}