

.rules{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    height: auto;

    display: flex;
    height: 2882px;
    margin-bottom: 150px;

    &__menu{
        margin: 60px 0 0 70px;

    }
 
    &__content{
        width: 377px;
        height: 215px;
        background-color: 
        rgba(255, 255, 255, 1);
        border-radius: 14px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        position: sticky;
        top: 80px;
        bottom: 80px;
            &:first-child{
                padding-top: 10px;
                margin-top: 0;
            &:last-child{
                padding-bottom: 10px;
                margin-bottom: 0;
            }
         
            div{

                width: 349px;
                height: 27px;
                margin-bottom: 15px;
                padding: 5px 0 0 18px;
                
            }
            .active{
                border-left: 2px solid rgba(5, 129, 135, 1);
            }
                a{
                    font-weight: 400;
                    font-size: 14px;
                    text-decoration: none;
                    line-height: 14px;
                    color: rgba(0, 0, 0, 0.8);

                    &:active{
                        color: red;
                    }

                    &:hover{
                        color: 
                        rgba(5, 129, 135, 1);
                    }
                }
        }
        
    }
    
    

    &__section{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: max-content;
        max-width: 800px;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin: 60px 70px 182px 35px;
        h2{
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: 
            rgba(0, 0, 0, 0.9);
            padding:15px 0;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(34, 34, 34, 1);
        }
        ul{
            margin: 0;
        }

        h1{
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: 
            rgba(0, 0, 0, 0.9);
            padding: 20px 0 10px 28px;

        }
        &__agreement{
            width: 100%;
            max-width: 755px;
            padding: 10px 27px 0 28px;
        }
        
        div{
            padding: 0 27px 0 28px;
            width: 808px;
            position: relative;
        }
        }

        .pdf{
            text-align: right;
            img{
                width: 28px;
                height: 30px;
                cursor: pointer;
            }
        }
}
        
