

.rules{
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    display: flex;

    .rulesDivone{
        .rulesContent{
            width: 377px;
            height: 215px;
            background-color: 
            rgba(255, 255, 255, 1);
            border-radius: 14px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            margin: 60px 0 0 70px;

            ul{
                list-style-type: none;
                margin: 10px 0 10px 18px;
                &:first-child{
                    padding-top: 10px;
                    margin-top: 0;
                }
                &:last-child{
                    padding-bottom: 10px;
                    margin-bottom: 0;
                }
                li{
                    margin-bottom: 20px;
                    a{
                        font-weight: 400;
                        font-size: 14px;
                        text-decoration: none;
                        line-height: 14px;
                        color: rgba(0, 0, 0, 0.8);

                        &:active{
                            color: red;
                        }

                        &:hover{
                            color: 
                            rgba(5, 129, 135, 1);
                        }
                    }
                }
            }

            
        }
        
    }

    

    .rulesDivTwo{
        width: 800px;
        height: 2820px;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin: 60px 70px 142px 25px;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: 
            rgba(0, 0, 0, 0.9);
            margin:15px 0;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(34, 34, 34, 1);

        }

        h1{
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: 
            rgba(0, 0, 0, 0.9);
            margin: 20px 0 0 28px;

        }
        .agreement{
            margin: 20px 27px 0 28px;
            width: 755px;
            height: 593px;
        }
        
        .prohibited{
            margin: 154px 0 27px 28px;
            width: 755px;
            height: 371px;
            }

        .restriction{
            margin: 124px 0 0 28px;
            width: 755px;
            height: 484px;
            }

        .forme{
            margin: 68px 0 27px 28px;
            width: 755px;
            height: 474px;
            .textforme{
                margin-bottom: 0;
            }
            ul{
                margin: 0;
            }
        }
        .term{
            margin: 24px 0 81px 28px;
            width: 755px;
            height: 236px;
        }

        .pdf{
            text-align: right;
            img{
                width: 28px;
                height: 30px;
                cursor: pointer;
            }
        }
        }
    }
