

.messagePassword{
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    width: 700px;
    height: 176px;
    border-radius: 7px;
    background-color: 
    rgba(249, 249, 249, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 60px auto;
    margin-bottom: 400px;
    h2{
        font-weight: 500;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: 2px;
        color: 
        rgba(0, 0, 0, 0.8);
        padding: 30px 135px 15px 138px;
    }

    p{
        width: 444px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
        margin: 0 auto;
    }

}